#meme-image-container {
    border: 1px solid black;
    height: 400px;
    width: 400px;
    background-color: white;
}

#meme-text {
    margin-top: 350px;
    border: 1px solid black;
    width: 380px;
    margin-left: 10px;
    position: absolute;
    font-size: 30px;
    text-shadow: rgb(0,0,0) 5px 5px 5px;
    color: white;
}

#meme-image {
    width: 400px;
    height: 400px;
}